{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {# Afficher le formulaire d'inscription #}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <button type="submit">S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}

